@tailwind base;
@tailwind components;
@tailwind utilities;

/* .my-button-style-primary{
    padding: 2;
    border-radius: 4px;
    background-color: rgba(59,130,246, 0.5);
    color: white;
}
.button-primary{
    @apply .my-button-style-primary;
} */

.background--wavy{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.background--wavy-90{
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

/* bg-gradient-to-r from-violet-500 to-fuchsia-500 */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}